body{
    text-align: justify;
    margin: auto;
    padding: 40px;
    width: 80%;
    font-size: 13pt;
    color: white;
    background-color: #0D1117;
}

#github{
    background-color: white;
}

a{
    color: white;
    /* text-decoration: none; */
}

a:hover{
    font-size: 14pt;
}