body{
    text-align: justify;
    margin: 100px 100px 50px 100px;
    font-size: 13pt;
    color: white;
    background-color: #0D1117;
}

#github{
    background-color: white;
}

a{
    color: white;
    /* text-decoration: none; */
}

a:hover{
    font-size: 14pt;
}